@charset "utf-8";
.overlay {
  z-index: 1000;
}
.no-background:hover,
.no-background:focus {
  background: none !important;
}
.dataTables_empty {
  color: #d83933;
  padding: 3rem !important;
}
.overlay.full-page {
  position: fixed !important;
}
.tooltip-inner {
    max-width: 600px
}
.tooltip-inner img {
    width: 100%;
}
.tooltip.show {
    opacity: 1;
}